/**
* Rounded tabs.
* SPDX-License-Identifier: CC0-1.0
* SPDX-FileCopyrightText: NONE
*/

.ed-class-notebookheader {
	border-bottom: 1px solid @ed_borders;
	background: none;
	box-shadow: none;
}

.ed-class-notebooktab {
	padding: 0 12px 0 12px;
	margin: 3px;
	border: 1px solid transparent;
	border-radius: 9px;
	background: none;
	box-shadow: none;
}

.ed-class-notebooktab:hover {
	background: alpha(currentColor, .1);
}

.ed-class-notebookactivetab {
	color: @theme_fg_color;
	border-color: alpha(currentColor, .1);
}

.ed-class-activenotebook .ed-class-notebookactivetab {
	border-color: transparent;
	background: alpha(currentColor, .1);
}
