/**
* Tabs separator.
* SPDX-License-Identifier: CC0-1.0
* SPDX-FileCopyrightText: NONE
*/

.ed-class-notebooktab {
	border-left: 1px solid alpha(@ed_borders, .3);
}

.ed-class-notebooktab:first-child,
.ed-class-notebookactivetab,
.ed-class-notebookactivetab + .ed-class-notebooktab {
	border-left: none;
	margin-left: 1px;
}
